<h1>Welcome#index</h1>
<p>Find me in app/views/welcome/index.html.erb</p>

<div id="page">
		<ul class="sf-menu" id="example" role="menu" aria-labelledby="mainmenulabel">
		<h2 id="mainmenulabel" class="visuallyhidden">Main Menu</h2>
				<li class="" id="sf-depth1">
						<a href="#">Menu item 1</a>
						<ul aria-label="submenu" class="submenu" role="menu">
							<li role="menuitem">
								<a href="#">Sub Link 1</a>
							</li>
							<li role="menuitem">
								<a href="#">Sub Link 2</a>
							</li>
							<li role="menuitem">
								<a href="#">Sub Link 3</a>
							</li>
							<li class="" role="menuitem">
								<a href="#">Sub Link 4</a>
								<ul aria-label="submenu" class="submenu">
									<li class="" role="menuitem">
										<a href="#">Deep Link 1</a>
										<ul>
											<li role="menuitem">
												<a href="#">Sub Deep 1</a>
											</li>
											<li role="menuitem">
												<a href="#">Sub Deep 2</a>
											</li>
											<li role="menuitem">
												<a href="#">Sub Deep 3</a>
											</li>
											<li role="menuitem">
												<a href="#">Sub Deep 4</a>
											</li>
										</ul>
									</li>
									<li role="menuitem">
										<a href="#">Deep Link 2</a>
									</li>
								</ul>
							</li>
						</ul>
					</li>
					<li class="" id="sf-depth1" role="menuitem">
						<a href="#">Menu item 2</a>
						<ul aria-label="submenu" class="submenu" role="menu">
							<li role="menuitem">
								<a href="#">Lengthy Item 1</a>
							</li>
							<li class="" role="menuitem">
								<a href="#">Lengthy Item 2</a>
								<ul>
									<li class="" role="menuitem">
										<a href="#">Deep Link 1</a>
										<ul>
											<li role="menuitem">
												<a href="#">Sub Deep 1</a>
											</li>
											<li role="menuitem">
												<a href="#">Sub Deep 2</a>
											</li>
											<li role="menuitem">
												<a href="#">Sub Deep 3</a>
											</li>
											<li role="menuitem">
												<a href="#">Sub Deep 4</a>
											</li>
										</ul>
									</li>
									<li role="menuitem">
										<a href="#">Deep Link 2</a>
									</li>
								</ul>
							</li>
							<li role="menuitem">
								<a href="#">Lengthy Item 3</a>
							</li>
						</ul>
					</li>
					<li class="" id="sf-depth1" role="menuitem">
						<a href="#">Menu item 3</a>
						<ul aria-label="submenu" class="submenu" role="menu">
							<li role="menuitem">
								<a href="#">Sub Link 1</a>
							</li>
							<li role="menuitem">
								<a href="#">Sub Link 2 is lengthy</a>
							</li>
						</ul>
					</li>
					<li role="menuitem">
						<a href="#">Menu item 4</a><ul aria-label="submenu" class="submenu" role="menu">
							<li role="menuitem">
								<a href="#">Sub Link 1</a>
							</li>
							<li role="menuitem">
								<a href="#">Sub Link 2 is lengthy</a>
							</li>
						</ul>
					</li>
					<li role="menuitem">
						<a href="#">Menu item 5</a><ul aria-label="submenu" class="submenu" role="menu">
							<li role="menuitem">
								<a href="#">Sub Link 1</a>
							</li>
						</ul>
					</li>
					<li role="menuitem">
						<a href="#">Menu item 6</a>
						<ul aria-label="submenu" class="submenu" role="menu">
							<li role="menuitem">
								<a href="#">Sub Link 6</a>
							</li>
						</ul>
					</li>
				</ul>
			</li>
		</ul>


  </div>
<p class="pullquote display-50" role="presentation" aria-hidden="true">This is an example of a pull quote. Use this to highlight text that is within the content of your web page.
  <cite>UR Web Team
  </cite>
</p>

<p><a class="btn-give" href="#">Give Button</a></p>